form {

    align-items: center;
    justify-content: center;
  text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 100px;

}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   text-align: center;
    gap: 20px;
}
.sig  {
    background-color: #329ab4;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.sign-in:hover {
    background-color: #287a8c;
}
body{
    background-image: url(signin.png);
    text-align: center;
    font-family: Arial, sans-serif;
    background-size: cover;
    background-repeat:no-repeat;
    z-index: -1;
    width: 100%;
    height: 100%;

}

